.postDetail__wrapper {
  padding: 10px 10px;
  width: 1000px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  position: relative;
  img{
    width: 40px;
  }

  .PostDetail__number{
    display: block;
    position: absolute;
    color: #899CB1;
    top: 10px;
    right: 8px;
  }
  .PostDetail__title{
    h3 {
      margin: 10px 0 0;
      padding: 0 0 13px 0;
      border-bottom: 1px solid #EAF0FA;
      font-size: 20px;
      font-weight: bold;
    }
  }
  .postDetail__content {
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 7px;
    margin-bottom: 10px;
    p{
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 5;
      -webkit-box-orient: vertical;
      height: 83vh;

    }

  }
}